{% extends 'base.html.twig' %}

{% block title %}Todo Home Page!{% endblock %}

{%  block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="app/css/home.css">
{%  endblock %}

{% block nav %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Todo List</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse test1" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href={{ path("home_page") }}>Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href={{path("tasks")}}>My Tasks</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href={{path("create_task")}}>New Task</a>
            </li>

            <li class="nav-item test2">
                <a class="nav-link test3" href="{{ path('app_logout') }}">Logout</a>


            </li>


        </ul>
    </div>
</nav>

{% endblock %}
{% block body %}

    <!-- Jumbotron -->
    <div class="p-4 shadow-4 rounded-3" style="background-color: hsl(0, 0%, 94%);">

        {% if user %}
        <h2>Hello {{ user.userIdentifier }}</h2>
        {% endif %}
        <p>
            This is a simple hero unit, a simple jumbotron-style component for calling extra
            attention to featured content or information.
        </p>

        <hr class="my-4" />

        <p>
            It uses utility classes for typography and spacing to space content out within the
            larger container.
        </p>
        <a type="button" class="btn btn-primary" href="{{ path('tasks') }}" >
            Get Your Tasks
        </a>

    </div>
    <!-- Jumbotron -->


{% endblock %}
