{% extends "base.html.twig" %}
{% block nav %}{% endblock %}

{% block extra %}

	{% if user %}

		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#">Todo List</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarText">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href={{ path("home_page") }}>Home
							<span class="sr-only">(current)</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href={{path("tasks")}}>My Tasks</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href={{path("create_task")}}>New Task</a>
					</li>


					<li class="nav-item">
						<a class="nav-link" href={{path("app_homepage")}}>Forum</a>
					</li>


				</ul>
			</div>
		</nav>


	{% endif %}


{% endblock %}


{% block body %}
	{% if user == null %}
		<div class="container mt-3">

			<div class="alert alert-info" role="alert">
				Register or sign in and start using your App!
				<a class="btn btn-l btn-info ml-3" href="{{path("app_login")}}">Sign in</a>

				<a class="btn btn-l btn-info ml-3" href="{{path("registration")}}">Sign up</a>


			</div>


		</div>
		{% endif%}

		<div class="jumbotron jumbotron-fluid bg-dark">
			<div class="container p-3 mb-2 bg-info text-white">
				<h1 class="display-4">Ask and Answer without limit</h1>
				<p class="lead">This your window to learn and train your mind , dont be afraid to ask and don not hesitate to answer.</p>
			</div>
		</div>

		<div>
			<ul class="answers">
				<li class="shadow-lg container p-3 mb-2 bg-info rounded-right">
					<div class="row">
						<div class="col">
							<img class="rounded-circle" src="{{ asset("app/images/pic1.jpeg") }}" height="100" width="100" style="float: left; margin-right: 8px;">
							<p class="shadow-lg text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet architecto corporis expedita libero modi odit officiis quam quia, ut voluptas!</p>

						</div>
						<div class="col">

							<i class="fa fa-question-circle" aria-hidden="true"></i>
							<a href="{{ path("app_question_show", {slug: "reversing-a-spell"}) }}">See The Question</a>

							<p class="text bg-light p-5 rounded">
								<i class="fa fa-quote-right" aria-hidden="true"></i>

								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium beatae eum eveniet facere illum laborum, maiores natus quos rerum?
								<i class="fa fa-quote-right" aria-hidden="true"></i>

							</p>


						</div>
					</div>

					<div class="text-white shadow-lg">
						<h2>Answers:</h2>
						<div class="vote-arrows v1">
							<span class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, sit?</span>
							<a class="vote-up vote" href="" data-direction="up">
								<i class="fa fa-arrow-circle-up" aria-hidden="true" style="color:black;"></i>
							</a>
							<a class="vote-down vote" href="" data-direction="down">
								<i class="fa fa-arrow-circle-down" aria-hidden="true" style="color: black"></i>

							</a>
							<span class="vote-total">+ 6</span>

						</div>


					</div>


				</li>

				<li class="shadow-lg mb-5 container p-3 mb-2 bg-info rounded-right">
					<div class="row ">
						<div class="col">
							<img class="rounded-circle" src="{{ asset("app/images/pic2.jpeg") }}" height="200" style="float: left; margin-right: 8px;">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet architecto corporis expedita libero modi odit officiis quam quia, ut voluptas!</p>

						</div>
						<div class="col">


							<i class="fa fa-question-circle" aria-hidden="true"></i>
							<a href="{{ path("app_question_show", {slug: "pausing-a-spell"}) }}">See The Question</a>

							<p class=" bg-light p-5 rounded">
								<i class="fa fa-quote-right" aria-hidden="true"></i>

								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium beatae eum eveniet facere illum laborum, maiores natus quos rerum?
								<i class="fa fa-quote-right" aria-hidden="true"></i>

							</p>


						</div>


					</div>

					<div class="text-white shadow-lg">
						<h2>Answers:</h2>
						<div class="vote-arrows v2">
							<span class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, sit?</span>
							<a class="vote-up vote" href="" data-direction="up">
								<i class="fa fa-arrow-circle-up" aria-hidden="true" style="color:black;"></i>
							</a>
							<a class="vote-down vote" href="" data-direction="down">
								<i class="fa fa-arrow-circle-down" aria-hidden="true" style="color: black"></i>
							</a>
							<span class="vote-total">+ 6</span>

						</div>


					</div>

				</li>


				<li class=" shadow-lg container p-3 mb-2 bg-info rounded-right">
					<div class="row">
						<div class="col">
							<img class="rounded-circle" src="{{ asset("app/images/pic3.jpeg") }}" height="200" style="float: left; margin-right: 8px;">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet architecto corporis expedita libero modi odit officiis quam quia, ut voluptas!</p>

						</div>
						<div class="col">

							<i class="fa fa-question-circle" aria-hidden="true"></i>
							<a href="{{ path("app_question_show", {slug: "Reversing-a-spell"}) }}">See The Question</a>


							<p class=" bg-light p-5 rounded">
								<i class="fa fa-quote-right" aria-hidden="true"></i>

								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium beatae eum eveniet facere illum laborum, maiores natus quos rerum?
								<i class="fa fa-quote-right" aria-hidden="true"></i>

							</p>


						</div>


					</div>

					<div class="text-white shadow-lg">
						<h2>Answers:</h2>
						<div class="vote-arrows v3">
							<span class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, sit?</span>
							<a class="vote-up vote" href="" data-direction="up">
								<i class="fa fa-arrow-circle-up" aria-hidden="true" style="color:black;"></i>
							</a>
							<a class="vote-down vote" href="" data-direction="down">
								<i class="fa fa-arrow-circle-down" aria-hidden="true" style="color: black"></i>
							</a>
							<span class="vote-total">+ 6</span>

						</div>


					</div>

				</li>


			</ul>
		</div>

	{% endblock %}

	{% block javascripts %}
		{{ parent() }}
		<script src={{ asset('app/js/question_js.js') }}></script>
	{% endblock %}
